@page "/"

<PageTitle>Home</PageTitle>


<div class="text-center text-primary">
    <p style="font-size: large class="display-4">CDub's Blazor Demo</p>
</div>

<div class="pt-2">
    This is a sample Blazor application that maintains a list of <i>categories</i>, and was written for demo purposes only. &nbsp;&nbsp;All CRUD operations are supported, so feel free to make updates.  
</div>

<div class="pt-4 text-primary">
    Technology Overview:
</div>

<ul class="pt-2 text-primary">
    
    <li>.NET Core 6.0</li>
    <li>Blazor Server</li>
    <li>Entity Framework Core</li>
    <li>Dependency Injection</li>
    <li>Repository Pattern</li>
    <li>Toastr Alerts (IToastService)</li>
    <li>Bootstrap / BootsWatch Theme</li>
    <li>Cloud Hosting (Azure)</li>
</ul>
