@inherits LayoutComponentBase

@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                ErrorIcon=""
                InfoIcon=""
                SuccessIcon=""
                WarningIcon=""
                ShowProgressBar="@false"
                ShowCloseButton="@true">
    <CloseButtonContent>
        <div>
            <span class="myCloseButtonStyleClass">&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>

<PageTitle>CDub-Blazor</PageTitle>


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
      
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
